@media screen and (min-width: 767px) {

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    background-color: white;
    color: white;
    justify-content: center;
    width: 100%;
}

html, body {
    max-width: 100%;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

/* HEADEAR */

main {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: .1em;
    margin: 0;
    background: rgb(137, 218, 255);
}

#menubutton {
    display: none; /* hide hamburger button */
}


.image-profile {
    display: block;
    width: 12%;
    padding: 1em;
    max-width: 180px;
}

h1 {
    font-weight: 800;
    font-size: 2.5rem;
    text-align: center;
    padding: 1em;
    color: rgb(102, 37, 146);
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    font-size: .9rem;
    background-color: rgb(0, 54, 170);
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    margin: 14px 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

nav a:hover {
    background-color: rgb(0, 54, 170);
    color: rgb(0, 255, 21);
}

nav a.active {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    color: rgb(102, 37, 146);
}


/* MAIN */

.bento-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto; /* Center the grid horizontally */
}

.card {
    background-color: white;
    color: white;
    padding: 20px;
    margin: 20px;
    margin-left: 2px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}


h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    color: #0D1821;
    margin-left: 20px;
}




.image {
    margin-left: 20px;
    margin: 20px;
    margin-top: 40px;
}

img {
    width: 100%;
    border-radius: 8px;
}

.card h2 {
    background-color: rgb(137, 218, 255);
    color: rgb(102, 37, 146);
    padding: 20px;
    border-radius: 8px 8px 0px 0px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    text-align: center;
    font-weight: 800;
}




.large-card {
    grid-column: span 2;
}

.courses-type {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.filter-btn {
    padding: 15px;
    background-color: rgb(2, 136, 125);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
}

.filter-btn:hover {
    background-color: rgb(0, 95, 87);
}

.courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.course-item.highlight {
    background-color: rgb(200, 118, 255); /* Style for completed courses */
    font-weight: 600;
    color: white;
}

.course-item {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    display: block;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 10px;
}


/* FOOTER */


footer {
    background-color: rgb(27, 0, 71);
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
    color: rgb(200, 118, 255);
}

.highlight {
    color: rgb(48, 172, 255);
}

}